body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.03em;
  background: #f5f5f5;
}
.bg-white {
  width: 100%;
}
.bg-black {
  width: 100%;
  background-color: #121212;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}
nav a {
  font-size: 18px;
  margin-left: 60px;
  text-decoration: none;
  color: #121212;
}
nav a:hover {
  color: gray;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  margin-bottom: 30px;
  margin-top: 128px;
}
.header {
  color: white;
  height: 500px;
  background-image: url(../resourсes/rectangle-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.header p {
  width: 430px;
  height: 81px;
  padding-top: 379px;
  padding-left: 40px;
  padding-right: 680px;
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 27px;
}
.header-text h2 {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  margin-bottom: 30px;
}
.header-text p {
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  margin-bottom: 30px;
}
.header-text a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 67px;
  width: 255px;
  height: 67px;
  background: #ad1818;
  border-radius: 5px;
  margin-bottom: 150px;
}
.section-1 {
  padding-bottom: 150px;
}
.section-1 div {
  margin-bottom: 90px;
}
.section-1 h2 {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  margin-bottom: 30px;
}
.section-1 img {
  margin-bottom: 15px;
}
.section-1 h3 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 41px;
}
.section-1 a {
  text-decoration: none;
  color: #ad1818;
  font-size: 20px;
  line-height: 27px;
}
.btn {
  padding-top: 56px;
  padding-bottom: 56px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  color: #ad1818;
}
.btn:hover {
  background-color: #ad1818;
  color: white;
}
.section-2 {
  background: #121212;
  color: white;
  padding-top: 151px;
  padding-bottom: 150px;
}
.section-2 h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.section-2 h3 {
  font-size: 30px;
  margin-bottom: 60px;
}
.section-2 img {
  margin-bottom: 15px;
}
.big-image {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 717px;
  background-image: url(../resourсes/big-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.big-image h3 {
  position: absolute;
  top: 6287px;
  color: white;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  margin-left: 125px;
}
.contacts {
  color: #121212;
}
.contacts img {
  margin-bottom: 12px;
}
.contacts h2 {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 25px;
}
.tel {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
}
.email {
  margin-bottom: 160px;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: gray;
}
.footer {
  padding-bottom: 30px;
  margin-top: 160px;
}
.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  font-size: 18px;
  line-height: 25px;
  width: 450px;
  margin: auto;
  margin-bottom: 87px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: gray;
}
.footer p {
  color: grey;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
