body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.03em;
  background: white;
  color: #121212;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}
.header {
  margin-bottom: 70px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}
.header__menu-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-list-item {
  display: inline-block;
  margin-right: 60px;
}
.header__menu-list-item a {
  transition: all 0.3s ease;
}
.header__menu-list-item:nth-last-child(1) {
  margin-right: 0px;
}
.header__menu-list-item a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
/* 
.header__menu-list-item-active {
  text-decoration: gray;
  border-bottom: 1px solid gray;
  color: gray;
}
*/
.header__menu-list a {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #121212;
}
.start {
  margin-bottom: 149px;
}
.start__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  width: 100%;
  letter-spacing: -0.03em;
}
.start__image {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.start__image img {
  width: 100%;
}
.start__text {
  position: absolute;
  display: block;
  width: 430px;
  height: 81px;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 27px;
  color: white;
  letter-spacing: -0.03em;
}
.about {
  margin-bottom: 149px;
}
.about__title, .projects__title {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}
.about__text {
  margin-bottom: 30px;
  max-width: 1051px;
  letter-spacing: -0.03em;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
}
.about__link {
  box-sizing: border-box;
  display: block;
  width: 255px;
  height: 67px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background: #AD1818;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  color: white;
  transition: all 0.3s ease;
}
.about__link:hover {
  border: 1px solid #ad1818;
  background: white;
  color: #ad1818;
  transition: all 0.3s ease;
}
.projects {
  margin-bottom: 149px;
}
.project {
  margin-bottom: 89px;
}
.project:nth-last-child(1) {
  margin-bottom: 88px;
}
.project__image {
  margin-bottom: 15px;
  width: 100%;
}
.project__info {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.03em;
}
.project__link {
  text-decoration: none;
  color: #ad1818;
  font-size: 20px;
  line-height: 27px;
  margin-left: 1px;
}
.projects__link {
  width: 100%;
  margin-top: 90px;
  padding: 55px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ad1818;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ad1818;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.projects__link:hover {
  color: #fff;
  background: #ad1818;
  transition: all 0.3s ease;
}
.services__title {
  color: white;
  display: block;
  margin-left: 2px;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.services {
  padding-top: 150px;
  padding-bottom: 146px;
  background-color: #121212;
  color: white;
}
.service {
  margin-bottom: 59px;
}
.service:nth-last-child(1) {
  margin-bottom: 0px;
}
.service__image {
  margin-bottom: 15px;
  width: 100%;
}
.service__info {
  font-size: 30px;
  line-height: 41px;
  margin-left: 3px;
  letter-spacing: -0.03em;
}
.example {
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
}
.example__text {
  position: absolute;
  bottom: 60px;
  color: #f5f5f5;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}
.example__image {
  margin: 0 auto;
}
.example__image img {
  width: 100%;
}
.contacts {
  padding-top: 36px;
  padding-bottom: 150px;
  margin-bottom: 5px;
}
.contacts__title {
  display: block;
  position: relative;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}
.contacts__title::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 38px;
  left: -4px;
  background-image: url(../resour—Åes/tel.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.contacts__list {
  padding-left: 3px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.contacts__tel {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
  letter-spacing: -0.02em;
}
.contacts__email {
  box-sizing: border-box;
  display: block;
  font-size: 60px;
  line-height: 60px;
  height: 62px;
  text-decoration: none;
  color: #121212;
  opacity: 0.5;
  transition: all 2.3s ease;
  letter-spacing: -0.02em;
}
.contacts__email:hover {
  border-bottom: 2px solid gray;
  transition: all 0.3s ease;
}
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #121212;
}
.footer__menu-list {
  margin-bottom: 87px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__menu-item {
  margin-right: 55px;
  font-size: 18px;
  line-height: 25px;
}
.footer__menu-item:nth-last-child(1) {
  margin-right: 0px;
}
.footer__menu-item a {
  text-decoration: none;
  color: #f5f5f5;
  transition: all 0.3s ease;
}
.footer__menu-item a:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}
.footer-credits {
  color: #FFFFFF;
  opacity: 0.5;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}
