body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.03em;
  background: #f5f5f5;
  color: #121212;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}
.header {
  margin-bottom: 70px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}
.header__menu-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-list-item {
  display: inline-block;
  margin-right: 60px;
}
.header__menu-list-item a {
  transition: all 0.3s ease;
}
.header__menu-list-item:nth-last-child(1) {
  margin-right: 0px;
}
.header__menu-list-item a:hover {
  text-decoration: gray;
  border-bottom: 2px solid gray;
  color: gray;
  transition: all 0.3s ease;
}
.header__menu-list a {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #121212;
}
.beginning {
  margin-bottom: 150px;
}
.beginning__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
}
.beginning__image {
  position: relative;
  width: 100%;
}
.beginning__text {
  position: absolute;
  display: block;
  width: 430px;
  height: 81px;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 27px;
  color: #f5f5f5;
}
.about {
  margin-bottom: 150px;
}
.about__title, .projects__title, .services__title, .contacts__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}
.about__text {
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  margin-bottom: 30px;
}
.about__link {
  box-sizing: border-box;
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  background: #AD1818;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  color: #f5f5f5;
  transition: all 0.3s ease;
}
.about__link:hover {
  border: 1px solid #ad1818;
  background: #f5f5f5;
  color: #ad1818;
  transition: all 0.3s ease;
}
.services__title {
  color: #f5f5f5;
}
.services {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #121212;
  color: #f5f5f5;
}
.services__item {
  margin-bottom: 60px;
}
.services__item:nth-last-child(1) {
  margin-bottom: 0px;
}
.services__item-image {
  margin-bottom: 15px;
}
.services__item-info {
  font-size: 30px;
  line-height: 41px;
}
.projects {
  margin-bottom: 150px;
}
.projects__item {
  margin-bottom: 90px;
}
.projects__item-image {
  margin-bottom: 15px;
}
.projects__item-info {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 41px;
}
.projects__item-link {
  text-decoration: none;
  color: #ad1818;
  font-size: 20px;
  line-height: 27px;
}
.projects__link {
  width: 100%;
  margin-top: 90px;
  padding: 56px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 2px solid #ad1818;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ad1818;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.projects__link:hover {
  color: #fff;
  background: #ad1818;
  transition: all 0.3s ease;
}
.example {
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
}
.example__text {
  position: absolute;
  bottom: 60px;
  color: #f5f5f5;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
}
.example__image {
  margin: 0 auto;
  width: 1400px;
}
.contacts {
  padding-bottom: 150px;
}
.contacts__icon {
  margin-bottom: 12px;
}
.contacts__list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.contacts__tel {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}
.contacts__email {
  box-sizing: border-box;
  display: block;
  font-size: 60px;
  line-height: 60px;
  height: 62px;
  text-decoration: none;
  color: #121212;
  opacity: 0.5;
  transition: all 2.3s ease;
}
.contacts__email:hover {
  border-bottom: 2px solid gray;
  transition: all 0.3s ease;
}
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #121212;
}
.footer__menu-list {
  margin-bottom: 87px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__menu-list-item {
  margin-right: 55px;
  font-size: 18px;
  line-height: 25px;
}
.footer__menu-list-item:nth-last-child(1) {
  margin-right: 0px;
}
.footer__menu-list-item a {
  text-decoration: none;
  color: #f5f5f5;
  transition: all 0.3s ease;
}
.footer__menu-list-item a:hover {
  color: gray;
  transition: all 0.3s ease;
}
.footer-credits {
  color: gray;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}
